
	<!-- Contenedor Principal  -->
	<div class="main-wrapper">
		<!-- Titulo -->
		<h1 class="main-title">Categorias - Insights</h1>

		<div class="container">			
			<input name="category-css" id="idade" type="radio" checked>
			<input name="category-css" id="cor" type="radio">
			<input name="category-css" id="renda-familiar" type="radio">
			<input name="category-css" id="santa-catarina" type="radio">
			<input name="category-css" id="escola-publica" type="radio">
			
			<ul class="list-category">
				<li><label for="idade">Idade</label></li>
				<li><label for="cor">Cor</label></li>
				<li><label for="renda-familiar">Renda Familiar</label></li>
				<li><label for="santa-catarina">Santa Catarina</label></li>
				<li><label for="escola-publica">Escola Pública?</label></li>
			</ul>
            
		</div>
	</div>